body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

.line-height {
    line-height: 2;
}

.letter-spacing {
    letter-spacing: 15px;
}

.text-aling{
    text-align: justify;
}

.space {
    white-space: pre-wrap;
}

.transform {
    text-transform: capitalize;
}

.shadow{
    font-family: "Bell MT";
    font-size: 56px;
    text-align: center;
    font-weight: 900;
    text-shadow: 15px 15px 20px red, -15px 15px 20px blue, 15px -15px 20px green, -15px -15px 20px yellow;
}